body {
    padding: 0;
    margin: 0;
    background-color: black;
    min-height:100%;
  }
  
  html {
    height: 100%;
  }

.container-fluid {
  width: 100%;
  height: 100%;
  margin: auto;
}
  
#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 850px;
  width: 100%;
  margin: 1em auto;
}

.panel-primary > .panel-heading {
    background: rgb(33, 40, 166); color: white;
    text-align: center;
    margin-bottom: 80px;
    padding: 10px
    
}

.panel-primary {
  width: 350px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 50px;
  
}

.jumbotron {
	background-size: 100%;
    text-align: center;
    padding: 50px   
}

.jumbotron > h1 {
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 72px;
}

.jumbotron > p {
    text-shadow: 1px 1px 2px black;
    color: white
}

/* Custom CSS*/

.legend {
color: #555;
padding: 6px 8px;
font: 12px Arial, Helvetica, sans-serif;
font-weight: bold;
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.legend ul {
list-style-type: none;
padding: 0;
margin: 0;
clear: both;
}
.legend li {
display: inline-block;
width: 30px;
height: 22px;
opacity: 0.7;
}
.legend .min {
float: left;
padding-bottom: 5px;
}
.legend .max {
float: right;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: gray; */
  color: black;
  text-align: center;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-1
}